/* You can add global styles to this file, and also import other style files */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




a.action-btn:hover{
     cursor: pointer;
}

#toast-container{
    top:auto !important;
    right: auto !important;
    bottom: 10%;
    left: 7%;
}